# Untracked files:

.DS_Store

# History files:
.Rhistory
.Rapp.history

# Session Data files:
.RData

# Template files
Report/Template_cache
Report/Template_files
Report/SPL_EuroLaborParticipation_FinalReport_cache
Report/SPL_EuroLaborParticipation_FinalReport_files

# Other
.vscode